.imge1{
    height: 1000px;
    width: 100%;
}
.text1{
    font-size: 40px;
    margin-bottom: 250px;
}
.text{
    background-color: white;
    text-align: center;
}
.text2{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-bottom: 50px;
}
.text3{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-bottom: 250px;
}