.imge1{
    height: 500px;
    width: 50%;
}
.imge2{
    height: 500px;
    width: 50%;
}
.text1{
    font-size: 80px;
    margin-bottom: 50px;
}
.text{
    background-color: white;
    text-align: center;
}
.text2{
    font-size: 40px;
    margin-bottom: 20px;
}
.text3{
    font-size: 40px;
    margin-bottom: 25px;
}
.text4{
    font-size: 40px;
    margin-bottom: 25px;
}
.text5{
    font-size: 40px;
    margin-bottom: 25px;
}
.text6{
    font-size: 40px;
    margin-bottom: 25px;
}
.text7{
    height: 50px;
    width: 200px;
    font-size: 20px;
    margin-bottom: 25px;
}
.text8{
    height: 60px;
    width: 220px;
    font-size: 20px;
    margin-bottom: 25px;
}
.ip{
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 45%;
}
.version{
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 45%;
}.tl{
    height: 50px;
    width: 200px;
    font-size: 30px;
    margin-bottom: 50px;
    margin-left: 45%;
}